*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-wrapper {
    width: 300px;
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    color:rgb(40, 12, 71)
}

.card-summary {
    margin: 20px 0;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 15px;
    font-weight: 600;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    color:rgb(192, 37, 76)
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
  }

.update-button {
    background: linear-gradient(145deg, #a3b8ff 0%, #77e5f8 100%);
}

.delete-button {
    background: linear-gradient(145deg, #c44a25 0%, #b81616 100%);
}

.button:hover {
    transform: scale(0.98);
}